<header>
  <div class="bg-header w-full p-8 flex flex-row justify-between">
    <div class="flex flex-row">
      <h1 class="text-greenSite text-2xl font-semibold"> Awesome-Movie-Recommender </h1>
      <button class="pl-8 text-white text-2xl"> Home </button>
    </div>
    <div class="items-center">
      <button class="text-white text-2xl pr-8"> My List </button>
      <button class="text-white text-2xl" [routerLink]="['/login']"> Login </button>
      <button class="text-white text-2xl" [routerLink]="['/register']"> Register </button>
    </div>
  </div>
</header>

<body class="bg-body h-screen">
  <div class="search-container">
    <input type="text" placeholder="Search Movies">
    <button type="submit">Search</button>
  </div>
  <app-movies-list></app-movies-list>
</body>
