.notfound-container {
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  width: 100vw;
  height: 100vh;
  padding: 5vmax;
}

.notfound-item {
  background-color: lightgray;
  padding: 5vmax;
  text-align: center;
}
