<body>
  <form class="form-container" (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
    <div class="inputbox">
      <input type="text" id="email" required [(ngModel)]="model.email" name="email">
      <span>Email</span>
      <i></i>
    </div>

    <div class="inputbox">
      <input type="password" id="password" required [(ngModel)]="model.password" name="password">
      <span>Password</span>
      <i></i>
    </div>

    <button type="submit">Register</button>
  </form>
</body>

