<div class="container">
  <h2 class="ml-8 pt-8 pb-8 title-list text-white text-2xl text-semibold"> Movie List
    <button class="get-movie-button">Get Movie Recommendation</button>
  </h2>
</div>

<div class="filter-buttons-container">
  <button class="filter-button">
    Data
    <img class="filter-icon" src="https://www.svgrepo.com/show/472431/bars-filter.svg" alt="Data">
  </button>
  <button class="filter-button">
    Gênero
    <img class="filter-icon" src="https://www.svgrepo.com/show/472431/bars-filter.svg" alt="Gênero">
  </button>
  <button class="filter-button">
    Nome
    <img class="filter-icon" src="https://www.svgrepo.com/show/472431/bars-filter.svg" alt="Nome">
  </button>
  <button class="search-button">
    Search
  </button>
</div>

<div class="movie-list-container">
  <ul class="movie-list">
    <li *ngFor="let movie of movies" class="movie-item">
      <div class="movie-card">
        <a href="detail/{{ movie.id }}"><h3 class="movie-title">{{ movie.name }}</h3></a>
        <div class="movie-thumbnail">
          <a href="detail/{{ movie.id }}">
            <img src="/assets/img/{{ movie.id }}.jpg" alt="{{ movie.name }}" class="movie-image">
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>


