<div class="container">
  <h2 class="ml-8 pt-8 pb-8 title-list text-white text-2xl text-semibold"> Movie List
    <button class="get-movie-button">Get Movie Recommendation</button>
  </h2>
</div>

<div class="text-white">
  <ul class="movies-list">
    <li class="movie-item" *ngFor="let movie of movies">
      <a routerLink="/detail/{{movie.id}}">
        {{movie.name}}
      </a>
    </li>
  </ul>
</div>

<!-- Botões de filtro -->
<div class="filter-buttons-container">
  <button class="filter-button">
    Data
    <img class="filter-icon" src="https://www.svgrepo.com/show/472431/bars-filter.svg" alt="Data">
  </button>
  <button class="filter-button">
    Gênero
    <img class="filter-icon" src="https://www.svgrepo.com/show/472431/bars-filter.svg" alt="Gênero">
  </button>
  <button class="filter-button">
    Nome
    <img class="filter-icon" src="https://www.svgrepo.com/show/472431/bars-filter.svg" alt="Nome">
  </button>
  <button class="search-button">
    Search
  </button>
</div>
